/* @import "tailwindcss/base";
@import "tailwindcss/components"; */
@import "tailwindcss";
@import "tailwindcss/utilities";

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 9%);
  --primary: #2e5bab;
  --secondary: hsl(0, 0%, 98%);
--tertiary: linear-gradient(111deg, #0d9de0 0%, #2e5bab 100%);
  --text-primary: hsl(0, 0%, 0%);
  --text-secondary: hsl(0, 0%, 26%);
  --text-tertiary:linear-gradient(111deg, #0d9de0 0%, #2e5bab 100%);



    --gradient-accent: linear-gradient(111deg, #0d9de0 0%, #2e5bab 100%);


@layer utilities {
  .bg-gradient-accent {
    background: var(--gradient-accent);
  }
  
  .text-gradient-accent {
    background: var(--gradient-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

  --hover-color: hsl(0, 0%, 92%);

  --font-plus-jakarta-sans: "Plus Jakarta Sans";
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(222.2 84% 4.9%);
  --button: hsl(123, 40%, 50%);
  --fontPrimary: hsl(0, 0%, 29%);
  --fontSecondary: hsl(0, 0%, 40%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(222.2 84% 4.9%);
  --primary-foreground: hsl(210 40% 98%);
  --secondary-foreground: hsl(222.2 47.4% 11.2%);
  --muted: hsl(210 40% 96.1%);
  --muted-foreground: hsl(215.4 16.3% 46.9%);
  --accent: #ebf2fe;
  --accent-foreground: hsl(222.2 47.4% 11.2%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(210 40% 98%);
  --input: hsl(0, 0%, 91%);
  --ring: hsl(222.2 84% 4.9%);
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --radius: 0.6rem;
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.869 0.022 252.894);
}

@theme inline {
  --font-primary: var(--font-plus-jakarta-sans);

  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-hover-section: var(--hover-color);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

body {
  border: var(--border);
  -webkit-font-smoothing: antialiased;
  background-color: var(--secondary);
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}

.logistics-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 320px) {
  .logistics-container {
    width: 310px;
  }
}

@media (min-width: 360px) {
  .logistics-container {
    width: 350px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 410px) {
  .logistics-container {
    width: 400px;
  }
}
@media (min-width: 481px) {
  .logistics-container {
    width: 470px;
  }
}

@media (min-width: 600px) {
  .logistics-container {
    width: 570px;
  }
}

@media (min-width: 768px) {
  .logistics-container {
    width: 755px;
  }
}
@media (min-width: 769px) {
  .logistics-container {
    width: 760px;
  }
}

@media (min-width: 868px) {
  .logistics-container {
    width: 860px;
  }
}

@media (min-width: 992px) {
  .logistics-container {
    width: 920px;
  }
}

@media (min-width: 1200px) {
  .logistics-container {
    width: 1100px;
  }
}

@media (min-width: 1350px) {
  .logistics-container {
    width: 1250px;
  }
}

@media (min-width: 1440px) {
  .logistics-container {
    width: 1325px;
  }
}
@media (min-width: 1550px) {
  .logistics-container {
    width: 1450px;
  }
}
@media (min-width: 1700px) {
  .logistics-container {
    width: 1520px;
  }
}
@media (min-width: 1900px) {
  .logistics-container {
    width: 1350px;
  }
}

.hero {
  background-image: url("/technologybanner.png");
  background-size: cover;
  background-position: center;
}

.bg404 {
  background-image: url("/404page.png");
  background-size: cover;
  background-position: center;
}


.floating {  
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction:alternate;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -1px); }  
      0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
  
}

.animate-scroll {
  animation: scroll 20s linear infinite;
  display: flex;
}

.grecaptcha-badge .grecaptcha-logo{
  display: none !important;
}




#editor-content p{
  font-size: clamp(1rem, 0.9671rem + 0.1316vw, 1.125rem);
  font-weight: 400;
}


.text-tertiary {
  background: var(--tertiary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}




